﻿<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <% for (var css in htmlWebpackPlugin.files.css) { %>
    <link href="<%= '@Url.Content("~' + htmlWebpackPlugin.files.css[css] + '")' %>" rel="stylesheet">
    <% } %>

    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</head>
<body>

    @*<div id="app"></div>*@

    <script>
        window.baseUrl = "@Url.Content("~/")";
        window.resourcesBaseUrl = "@Url.Content("~/dist/")";
        @*window.appVersion = "@ParametersService.Get(DbParameters.VERSION)";*@
    </script>

    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %>
    <script src="<%= '@Url.Content("~' + htmlWebpackPlugin.files.chunks[chunk].entry + '")' %>"></script>
    <% } %>
</body>
</html>